html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.neumorph {
  box-shadow: 12px 12px 24px #d1d9e6, -12px -12px 24px #ffffff;
}
.dark .neumorph,
.neumorph-dark {
  box-shadow: 12px 12px 24px #151a23, -12px -12px 24px #232c3a;
}

.neumorph-inner {
  box-shadow: inset 6px 6px 12px #d1d9e6, inset -6px -6px 12px #ffffff;
}
.dark .neumorph-inner,
.neumorph-inner-dark {
  box-shadow: inset 6px 6px 12px #151a23, inset -6px -6px 12px #232c3a;
}

.neumorph-btn {
  box-shadow: 4px 4px 12px #e2e8f0, -4px -4px 12px #fff;
}
.dark .neumorph-btn,
.neumorph-btn-dark {
  box-shadow: 4px 4px 12px #151a23, -4px -4px 12px #232c3a;
}
